@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 360px;
    margin: 0 auto;
}

.card {
    background-color: hsl(0, 0%, 100%);
    padding: 18px;
    border-radius: 18px;
    margin: 0 1em
}

.card .text {
    text-align: center;
    padding: 18px 16px;
}

.card h2 {
    color: hsl(218, 44%, 22%);
    margin-bottom: 16px;
    font-weight: 700;
}

.card p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

.card img {
    width: 100%;
    border-radius: 12px;
}